{% extends 'layout.html' %}

{% block title %}waves{% endblock %}
{% block body %}
<section>
  <h1>Add a new wave</h1>
  <form action="" method="post">
  <label>
    Name
    <input type="text" name="wave[name]" value="" />
  </label>
  <fieldset>
    <h2>Location</h2>
    <label>
      Longitude
      <input type="text" name="wave[location][lng]" />
    </label>
    <label>
      Latitude
      <input type="text" name="wave[location][lat]" />
    </label>
    <label>
      Is this a secret spot?
      <input type="checkbox" name="wave[secretSpot]" value="true" />
    </label>
  </fieldset>
  <fieldset>
    <label>
        <select name="wave[buoys]">
        {% for buoy in buoys %} 
          <option value="{{ buoy.id }}">{{ buoy.name }}</option>
        {% endfor %}
        </select>
    </label>
  </fieldset>
  <button>Create</button>
  </form>
</section>
  <h1>waves</h1>

  {% if waves.length %}
  <ul>
    {% for wave in waves %}
    <li>
      <a href="/waves/{{ wave.id }}">{{ wave.name }}</a>
      <form action="/waves/{{ wave.id }}" method="post">
        <input type="hidden" value="DELETE" name="_method" />
        <button class="btn delete">delete</button>
      </form>
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>You haven't added any waves yet</p>
  {% endif %}
{% endblock %}
