{% extends 'layout.html' %}

{% block title %}Buoys{% endblock %}
{% block body %}
<section>
  <h1>Add a new buoy</h1>
  <form action="" method="post">
  <label>
    Name
    <input type="text" name="buoy[name]" value="" />
  </label>
  <fieldset>
    <h2>Location</h2>
    <label>
      Longitude
      <input type="text" name="buoy[location][lng]" />
    </label>
    <label>
      Latitude
      <input type="text" name="buoy[location][lat]" />
    </label>
  </fieldset>
  <button>Create</button>
  </form>
</section>
  <h1>Buoys</h1>
  <ul>
    {% for buoy in buoys %}
    <li><a href="/buoys/{{ buoy.id }}">{{ buoy.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
