{% extends 'layout.html' %}

{% block title %}{{ title }} {% endblock %}
{% block body %}
<section>
  {% if everyauth.loggedIn %}
  <h1>Log a new session</h1>
  <form action="" method="post">
    <fieldset>
      <h2>Where</h2>
      <select name="wave">
        {% for w in waves %}
        <option value="{{w.id}}">{{ w.name }}</option>
        {% endfor %}
      </select>
    </fieldset>
    <fieldset>
      <h2>When</h2>
      <label>
        Date
        <input type="text" name="date" />
      </label>
      <label>
        Time
        <input type="time" name="time" />
      </label>
      <label>
        How long did you surf?
        <input type="number" min="1" max="240" name="duration" />
        minutes
      </label>
    </fieldset>
    <fieldset>
      <h2>How was it?</h2>
      <label>
        Surf was
        <select name="surfHeight">
          <option value="">--</option>
          {% for h in surfHeight %}
          <option value="{{ h }}">{{ h }}</option>
          {% endfor %}
        </select>
      </label>
      <label>
        Conditions were
        <select name="surfConditions">
          <option value="">--</option>
          {% for h in surfConditions %}
          <option value="{{ h }}">{{ h }}</option>
          {% endfor %}
        </select>
      </label>
      <label>
        Overall, it was
        <select name="surfStoke">
          <option value="">--</option>
          {% for h in surfStoke %}
          <option value="{{ h.value }}">{{ h.display }}</option>
          {% endfor %}
        </select>
      </label>
    </fieldset>
    <fieldset>
      <label for="">
        Comments
        <textarea name="notes" id="" cols="30" rows="10"></textarea>
      </label>
    </fieldset>
    <button>Create</button>
  </form>
  {% endif %}
</section>
{% if log %}
<section>
  <h1>Latest Surf Sessions</h1>
  {% for sesh in log %}
  <article>
    <header>
      <h2>{{ sesh.location.name}}</h2>
      <a href="/logs/{{ sesh.id }}">
        <time datetime="{{sesh.date}}">{{ sesh.friendlyDate }}</time>
      </a>
      <h3 class="buoys">{{ sesh.buoys.wvht}}FT {{sesh.buoys.mwd}} @ {{sesh.buoys.dpd}}SEC</h3>
      <h3 class="wind">{{ sesh.wind.speed}}MPH {{sesh.wind.direction}}</h3>
    </header>
    <div class="log">
      {{sesh.notes}}
    </div>
    <aside>
      <ul>
        <li><h4>Size: {{sesh.surfHeight}}</h4></li>
        <li><h4>Conditions: {{sesh.surfConditions}}</h4></li>
        <li><h4>Overall: {{sesh.surfStoke}}</h4></li>
      </ul>
    </aside>
  </article>
  {% endfor %}
</section>
{% endif %}
<h1>{{ surfSessionsThisYear }}</h1>
<h1>{{ allSurfSessions }}</h1>
{% if surfSeshByLoc %}
{% for k, v in surfSeshByLoc %}
  {% if v > 0%}
  <li><a href="#" title="{{ v }}">{{ k }}</a><span class="count">{{ v }}</span></li>
  {% endif %}
{% endfor %}
{% endif %}
{% endblock %}
