{% extends 'layout.html' %}

{% block title %}{{ title }} {% endblock %}
{% block body %}
<section>
  <h1>Log a new session</h1>
  <form action="" method="post">
    <fieldset>
      <h2>When</h2>
      <label>
        Date
        <input type="date" name="date" />
      </label>
      <label>
        Time
        <input type="time" name="time" />
      </label>
      <label>
        How long did you surf?
        <input type="number" min="1" max="240" name="duration" />
        minutes
      </label>
    </fieldset>
    <fieldset>
      <h2>Where</h2>
      <select name="wave">
        {% for w in waves %}
        <option value="{{w.id}}">{{ w.name }}</option>
        {% endfor %}
      </select>
    </fieldset>
    <button>Create</button>
  </form>
</section>
{% endblock %}
