{% extends 'layout.html' %}

{% block title %}Buoys{% endblock %}
{% block body %}
<section>
  <h1>Add a new buoy</h1>
  <form action="" method="post">
  <label>
    Name
    <input type="text" name="buoy[name]" value="" />
  </label>
  <label>
    Freebase mid
    <input type="text" name="buoy[mid]" value="" />
  </label>
  <label>
    NDBC ID
    <input type="text" name="buoy[cdipId]" value="" />
  </label>
  <fieldset>
    <h2>Location</h2>
    <label>
      Longitude
      <input type="text" name="buoy[location][lng]" />
    </label>
    <label>
      Latitude
      <input type="text" name="buoy[location][lat]" />
    </label>
  </fieldset>
  <button>Create</button>
  </form>
</section>
  <h1>Buoys</h1>
  <ul>
    {% for buoy in buoys %}
    <li>
      <a href="/buoys/{{ buoy.id }}">{{ buoy.name }}</a>
      <form action="/buoys/{{ buoy.id }}" method="post">
        <input type="hidden" value="DELETE" name="_method" />
        <button class="btn delete">delete</button>
      </form>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
