{% extends 'layout.html' %}

{% block title %}{{ title }} {% endblock %}
{% block body %}
<section>
  <h1>Log a new session</h1>
  <form action="" method="post">
    <fieldset>
      <h2>Where</h2>
      <select name="wave">
        {% for w in waves %}
        <option value="{{w.id}}">{{ w.name }}</option>
        {% endfor %}
      </select>
    </fieldset>
    <fieldset>
      <h2>When</h2>
      <label>
        Date
        <input type="date" name="date" />
      </label>
      <label>
        Time
        <input type="time" name="time" />
      </label>
      <label>
        How long did you surf?
        <input type="number" min="1" max="240" name="duration" />
        minutes
      </label>
    </fieldset>
    <fieldset>
      <h2>How was it?</h2>
      <label>
        Surf was
        <select name="surfHeight">
          {% for h in surfHeight %}
          <option value="{{ h }}">{{ h }}</option>
          {% endfor %}
        </select>
      </label>
      <label>
        Conditions were
        <select name="surfConditions">
          {% for h in surfConditions %}
          <option value="{{ h }}">{{ h }}</option>
          {% endfor %}
        </select>
      </label>
      <label>
        Overall, it was
        <select name="surfStoke">
          {% for h in surfStoke %}
          <option value="{{ h }}">{{ h }}</option>
          {% endfor %}
        </select>
      </label>
    </fieldset>
    <button>Create</button>
  </form>
</section>
{% endblock %}
